

body{
    margin: 0;
    padding: 0;
    font-display: 'Pacifico', cursive;
}

.banner{
    /* margin-top:px;
    padding-top: 185px;
    padding-bottom: 185px; */
    height:500px;
    background-image: url(../images/background.png);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
}


.barra{
    padding-top: 25px;
    background-color: green;
}

.container-flex{
    display: flex;
    justify-content: space-evenly;
}

.icone1{
    background-color:white;
    background-size: cover;
}
.icone2{
    background-color:green;
    background-size: cover;
}